[*.cs]

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0300: Simplify collection initialization
dotnet_style_prefer_collection_expression = never

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = none
